.head {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7vh;
  background-color: rgb(0, 46, 55);
  text-align: center;
  padding-top: 3.5vh;
}
.searchText {
  width: 15vw;
  height: 3vh;
  font-size: 20px;
  outline: none;
}
.options {
  outline: none;
  width: 4vw;
  height: 3vh;

}
.headbutton {
  width: 9vw;
  height: 3vh;
  padding: 0;
  margin-right: 1vw;
  /* font-size: 20px; */
}
.headSearchBtt {
  width: 4vw;
  height: 3vh;
  padding: 0;
  margin-right: 1vw;
  margin-right: 20vw;
}

.body {
  margin: 15vh 0 5vh 5vw;
  width: 90vw;
  /* height: 70vh; */
  background-color: #ffffff;
  box-shadow:  0 0  2px 2px;
}
.onebook {
  border-top: #080a5d solid 1px;
  padding-bottom: 1vh;
}
.logInForm {
  width: 25vw;
  height: 5vh;
  font-size: 20px
}
.logPage {
  width: 50vw;
  height: 70vh;
  background-color: #ada9a9;
  box-shadow: 0 0 2px 2px #000000;
  margin-bottom: 2vh;
  padding: 5px;
  /*  */
}
.coverage {
  padding-left:  40vh;
  padding-top: 15vh;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0000004a;
  position: fixed;
  top: 0;
}
.outPage {
  width: 50vw;
  height: 70vh;
  background-color: aliceblue;
  padding: 1vw;
}
.askIf p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.outBtt1 {
  background-color: red;
  color: #ffffff;
  margin-right:3vw;
  margin-left: 19vw;
}
.outBtt2 {
  background-color: aquamarine;
  color: #ffffff;
}